<p>New tutor application has been submitted.</p>

<p>
	<strong>Applicant Details</strong><br>
	Name: <strong>{{firstName}} {{middleName}} {{lastName}}</strong><br>
	ID Number: <strong>{{idNumber}}</strong><br>
	Email: <strong><a href="mailto:{{email}}">{{email}}</a></strong><br>
	Course: <strong>{{course}}</strong><br>
	Contact Number: <strong>{{contact}}</strong><br>
	Terms Left: <strong>{{terms}}</strong><br>
	Facebook URL: <strong><a href="{{url}}">{{url}}</a></strong><br>
</p>
